body {
  background-color: white;
  font-family: 'lato', sans-serif;
  font-size: 20px;
  color: black;
  line-height: 40px;
  margin: 0;
}

#profile-pic {
  /* border-radius: 100%; */
  width: 150px;
  display: block;
  margin: 25px auto 25px;
  box-shadow: 0 6px 8px rgba(46, 46, 46, 0.5);
  border-radius: 100%;
  clear: both;
}

.title-h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #E8871E;
  line-height: 30px;
  margin: 15px 15px 15px 15px;
}

.title-h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 160;
  font-size: 19px;
  line-height: 25px;
  padding-top: 5px;
  padding-bottom: 5pxz;
  margin: 15px 15px 15px 15px;
}

#link-linkedin {
  text-decoration: none;
  padding: 8px;
  background-color: #f3f3f3ee;
  color: goldenrod;
  transition: 0.6s;
  /* border: solid; */
  border-radius: 120px;
  border-width: 0.5px 0.5px 0.5px 0.5px;
  box-shadow: 0px 0px 3px 0.8px rgba(222, 158, 9, 0.2);
  font-size: 15px;
  font-weight: bold;
  width: 100px;
}

#link-linkedin:hover {

  background-color: #d8dbcf;
  color: rgb(187, 159, 88);
  transition: 0.6s;
  box-shadow: 0px 0px 2px 3px rgba(222, 158, 9, 0.925);
  /* width: 150px; */
  width: 105px;
  padding: 9px;
}

.container {
  width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.banner-section {
  text-align: center;
  border: solid;
  border-color: #E8871E;
  border-width: 2px;
  border-radius: 25px;
  margin-top: 20px;
  box-shadow: 0px 8px #E8871E;
  margin-bottom: 30px;
}

.second-box-section {
  width: 630px;
  /* padding: 0; */
  display: inline-flex;
  justify-content: center;
  /* width: 600px; */
  padding-inline: 25px;
  margin-inline: 7px;
  height: 200px;
}

.languages-section {
  width: 300px;
  display: inline-flex;
  justify-content: space-around;
  border: solid;
  border-color: #E8871E;
  border-width: 0.3px;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 1.2px #E8871E;
  color: #1112119b;
  margin-right: 60px;
  margin-left: 7px;
}

.languages-section h5 {
  margin: 0;
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  line-height: 25px;
  padding: 20px;
  color: #1112119b;
}

.languages-section ul {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 160;
  line-height: 30px;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.linkedin-section {
  width: 300px;
  display: inline-block;
  text-align: center;
  border: solid;
  border-color: #E8871E;
  border-width: 0.3px;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 1.2px #E8871E;
  color: #1112119b;

}

.linkedin-section p {
  display: inline-flex;
  text-align: center;
  align-self: center;
  padding: 20px;
  margin: 0;
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  line-height: 25px;
}

.chat-button {
  display: inline-flex;
  text-align: center;
  align-self: center;
  padding: 0;
}

.social-media-links i {
  margin: 0 auto;
  text-decoration: none;
  color: #ebf5dfec;
  padding: 0 5px;
  transition: 0.5s;
}

.social-media-links:hover i {
  color: #948B89;
  transition: 0.5s;
}

.social-media-section {
  text-align: center;
  /* border: solid; */
  /* border-color: black;
  border-width: 1px;
  border-radius: 10px; */
  margin-top: 5px;
  /* box-shadow: 0px 0px 3px 0.8px rgb(19, 19, 19, 0.2); */
}

.social-div h4 {
  margin: 0;
  margin-top: 1px;
  color: #1112119b;
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

.general-box {
  border-right: solid;
  border-left: solid;
  border-color: #e2d58b;
  width: 700px;
  margin: 0 auto;
  padding: 10px;
  background-color: #e2d58b;
  box-shadow: 0px 0px 150px 300px rgba(226, 213, 139, 2);
}


#ruby-icon {
  height: 20px;
}

.fa-html5:before {
  color: rgb(206, 134, 1);
}

.fa-css3:before {
  color: rgb(50, 168, 241);
}

.fa-js:before {
  color: yellow;
}
